html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
  line-height: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
}

.container {
  width: 800px;
  margin: 0 auto;
}

h2, h3,
p,
h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h2, h1 {
  color:dimgrey
}

.list-inline > li {
  display: inline-block;
  padding: 0px 1rem;
}

.list-inline {
  list-style: none;
  padding: 5px;
  padding-left: 0px;
}

p {
  display: block;
  margin-bottom: 2rem;
}

img {
  overflow-clip-margin: content-box;
  height: auto;
  width: 150px;
}

.img-circle {
  border-radius: 50%;
}

div {
  display: block;
}

.card {
  background-color:antiquewhite;
  padding: 3rem;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
  text-align: center;
  border-radius: 5px;
  margin: 1rem 0;
}

.btn-link {
  background-color: peru;
  color:beige;
  padding: 15px 1rem;
  border-radius: 4px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
    overflow-wrap: normal;
  }

  .list-inline > li {
    display: block;
    padding: 1rem 0;
  }
}
